Repository codeigniter4/shield, pull requests merged in 2023-03, with the labels that each got.

#658 [de] Translate new strings
  src/Language/de/Auth.php
Labels: lang

#649 fix: group entity can method
  src/Entities/Group.php
  tests/Authorization/GroupTest.php
Labels: bug

#660 Revert "chore: fix composer-unused version to aviod setup error"
  .github/workflows/unused.yml
Labels: github_actions

#650 Feature: Banning Users
  docs/banning_users.md
  src/Authentication/AuthenticationException.php
  src/Authentication/Authenticators/AccessTokens.php
  src/Authentication/Authenticators/Session.php
  src/Entities/User.php
  src/Filters/SessionAuth.php
  src/Language/de/Auth.php
  src/Language/en/Auth.php
  src/Language/es/Auth.php
  src/Language/fa/Auth.php
  src/Language/fr/Auth.php
  src/Language/id/Auth.php
  src/Language/it/Auth.php
  src/Language/ja/Auth.php
  src/Language/pt-BR/Auth.php
  src/Language/sk/Auth.php
  src/Language/tr/Auth.php
  src/Traits/Bannable.php
  tests/Authorization/AuthorizableTest.php
Labels: new feature

#662 docs: add `Forcing Password Reset` and `Banning Users` to nav
  docs/index.md
  mkdocs.yml
Labels: documentation

#663 lang: translate `errorPasswordTooLongBytes` for `fa`
  src/Language/fa/Auth.php
Labels: lang

#664 lang: translate errorPasswordTooLongBytes for ja
  src/Language/ja/Auth.php
Labels: lang

#665 lang: update sk translation
  src/Language/sk/Auth.php
Labels: lang

#666 Added Swedish translations
  src/Language/sv-SE/Auth.php
  tests/Language/AbstractTranslationTestCase.php
  tests/Language/SwedishTranslationTest.php
Labels: lang

#671 lang: translate new strings for de
  src/Language/de/Auth.php
Labels: lang

#673 lang: translate pt-BR strings
  src/Language/pt-BR/Auth.php
Labels: lang

#676 [sr] Serbian Language translation
  src/Language/sr/Auth.php
  tests/Language/AbstractTranslationTestCase.php
  tests/Language/SerbianTranslationTest.php
Labels: lang

#675 feat: add shield version for Increase improvement
  src/Auth.php
  src/Collectors/Auth.php
  tests/Collectors/AuthTest.php
Labels: enhancement

#682 docs: improvements in the PHP block
  docs/forcing_password_reset.md
  docs/guides/strengthen_password.md
Labels: documentation

#683 chore: fix workflow docs.yml
  .github/workflows/docs.yml
Labels: github_actions

#692 docs: add and use auth()->getProvider()
  docs/authentication.md
  docs/quickstart.md
Labels: documentation
